---
layout: default
---

<header class="post-header">
      <h1 class="post-title" style="color: #da7b93;"><b>Assignments</b></h1>
  </header>

{{ content }}

<div class="table table-striped table-bordered" id="schedule" style="margin-top: 20px">
      <br>
      <table class="table" >
          <thead>
              <tr class="active">
                  <th width =10% scope="col" ><b>Group ID</b></th>
                    <th width =13% scope="col" ><b>Roll Numbers</b></th>
                    <th width =40% scope="col" ><b>Topic Name</b></th>	 
                    <th width =20% scope="col" ><b>Assignemnt Blog link </b></th>
                    <th width =20% scope="col" ><b>Video Blog link</b></th>
              </tr>
          </thead>
          <tbody>
          <tr bgcolor="#48C9B0">
                  <th colspan=5 align="center" style="vertical-align:middle;">Autumn Semester 2022, Submitted Assignments</th>
          </tr>
  
              <tr bgcolor="#ECEFF1">
                  <td align="center">1</td>
                  <td align="center"><b>18ME3AI27, 18EC35018, 18MA20007</b></td>
                  <td align="center"><b>Few-Shot image classification using Graph Neural Networks</b></td>
                  <td align="center">
                        <a href="https://medium.com/@dita.niki03/a-summary-of-few-shot-learning-with-graph-neural-networks-c33b5d0d7a6f" target="_blank"><b>Blog</b></a>
                  </td>
                  <td align="center">
                        <a href="https://www.youtube.com/watch?v=DUrsjgjzZes" target="_blank"><b>Vlog</b></a>
                  </td>
              </tr>
              <tr bgcolor="#ECEFF1">
                  <td align="center">2</td>
                  <td align="center"><b>19CS30043, 19CS30047, 19CS10067</b></td>
                  <td align="center"><b>Estimated Time of Arrival prediction in Google Maps</b></td>
                  <td align="center">
                        <a href="https://medium.com/@srijanak2001/demystifying-eta-prediction-in-google-maps-ab2a63ce5cff" target="_blank"><b>Blog</b></a>
                  </td>
                  <td align="center">
                        <a href="https://drive.google.com/file/d/1oR3ebs2HnTf6UaVV4i5sBY-u2YEMcR7w/view" target="_blank"><b>Vlog</b></a>
                  </td>
              </tr>
              <tr bgcolor="#ECEFF1">
                  <td align="center">3</td>
                  <td align="center"><b>18EC35008, 18QE30008, 18QE30002</b></td>
                  <td align="center"><b>Explainable Graph Neural Networks</b></td>
                  <td align="center">
                        <a href="https://medium.com/@debjoysaha/a-beginners-guide-to-explainability-in-graph-neural-networks-99927d527718" target="_blank"><b>Blog</b></a>
                  </td>
                  <td align="center">
                        <a href="https://drive.google.com/drive/folders/1cUV6IA2ghi_HCTrN2xvn56FcVOfR1QMo" target="_blank"><b>Vlog</b></a>
                  </td>
              </tr>
              <tr bgcolor="#ECEFF1">
                  <td align="center">4</td>
                  <td align="center"><b>20CS92R03, 18CE3AI16, 18CE3AI17</b></td>
                  <td align="center"><b>Graph Neural Networks for Friend Ranking in Large-scale Social Platforms</b></td>
                  <td align="center">
                        <a href="https://drive.google.com/file/d/1pWLnifT56D50sY0PITc24mtY-tCbwxTq/view?usp=sharing" target="_blank"><b>Blog</b></a>
                  </td>
                  <td align="center">
                        <a href="https://www.youtube.com/watch?v=rXTbfMoG4tM&feature=youtu.be" target="_blank"><b>Vlog</b></a>
                  </td>
              </tr>
                                                       
          </tbody>
      </table>
  </div>