---
layout: default
---

<header class="post-header">
    <h1 class="post-title" style="color: #ee4c7c;"><b>Course Materials</b></h1>
</header>

{{ content }}

<div class="table table-striped table-bordered" id="schedule" style="margin-top: 20px">
    <br>
    <table class="table" >
        <thead>
            <tr class="active">
                <th width =50% scope="col" ><b>Research-Papers</b></th>
	            <th width =15% scope="col" ><b>Paper Link</b></th>
	            <th width =15% scope="col" ><b>Github Link</b></th>	 
	            <th width =10% scope="col" ><b>Related Videos</b></th>
	            <th width =10% scope="col" ><b>Related Tutorials</b></th>
            </tr>
        </thead>
        <tbody>
        
            <tr bgcolor="#ECEFF1">
                <td align="center"><b>The Semantic Web - Tim Berners-Lee, 2001</b></td>
                <td align="center"><a href="https://www-sop.inria.fr/acacia/cours/essi2006/Scientific%20American_%20Feature%20Article_%20The%20Semantic%20Web_%20May%202001.pdf" target="_blank"><b>[Link]</b></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center"><b>A Review of the Semantic Web Field - Pascal Hitzler, 2021</b></td>
                <td align="center"><a href="https://cacm.acm.org/magazines/2021/2/250085-a-review-of-the-semantic-web-field/fulltext?mobile=false" target="_blank"><b>[Link]</b></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr> 
            <tr bgcolor="#ECEFF1">
                <td align="center"><b>Semantic Web Resources in World Wide Web Consortium (W3C)</b></td>
                <td align="center"><a href="https://www.w3.org/standards/semanticweb/" target="_blank"><b>[Link]</b></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>   
                     
        </tbody>
    </table>
</div>
