---
layout: default
---

<header class="post-header">
    <h1 class="post-title" style="color: #da7b93;"><b>Schedule</b></h1>
</header>

{{ content }}

<div class="table table-striped table-bordered" id="schedule" style="margin-top: 20px">
    <br>
    <table class="table" >
        <thead>
            <tr class="active">
                <th width =10% scope="col" ><b>Date</b></th>
	            <th width =40% scope="col" ><b>Title</b></th>
	            <th width =15% scope="col" ><b>Slides</b></th>	 
	            <th width =10% scope="col" ><b>Video</b></th>
	            <th width =30% scope="col" ><b>Extra Reading</b></th>
            </tr>
        </thead>
        <tbody>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 1</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">04-08-22</td>
                <td align="center"><b>Introduction to Graph Machine Leanring + Course logistics</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/14OpAqtylts1FX3EjpMyRMfTfIb7wLCi3/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">05-08-22</td>
                <td align="center"><b>Basics of Graphs</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1vD0fU-i9MHUnr1FMUvOPOumDAfXB2kce/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center">
                    <a href="https://youtu.be/h08RW3AIBVg" target="_blank"><b>Tutorial-1</b></a>
                </td>
                <td align="center"></td>
            </tr>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 2</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">11-08-22</td>
                <td align="center"><b>Basics of Graphs (Traditional Graph ML)</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1Y5acwv2BZbqeYoTxOdm69muXcFlZV8nK/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center">
                    <a href="https://youtu.be/P10qFQVUf_k" target="_blank"><b>Tutorial-2</b></a>
                </td>
                <td align="center">
                    <a href="https://www.cs.mcgill.ca/~wlh/grl_book/files/GRL_Book-Chapter_2-Background.pdf" target="_blank"><b>Chapter-2: from GRL by W.L. Hamilton</b></a>
                </td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">12-08-22</td>
                <td align="center"><b>Spectral Methods for Graph Clustering</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/13pNPhHwMYRDIeemYxSxvFZHpXjFPOFag/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1qMjSBNLznFist3z9GUdDp6S_jMPRk7Ls/view?usp=sharing" target="_blank"><b>Some Proofs</b></a>
                </td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 3</th>
        </tr>

            <tr bgcolor="#da7b93">
                <td align="center">18-08-22</td>
                <td align="center"><b>Institite Foundation Day (Class Suspended) </b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#da7b93">
                <td align="center">19-08-22</td>
                <td align="center"><b>Holiday</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 4</th>
        </tr>

            <tr bgcolor="#48C9B0">
                <td align="center">25-08-22</td>
                <td align="center"><b>Deep Learning Review : Guest Lecture (Dr. Jiaul H. Paik)</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1XKIOEQia45KmSg-XPtBN0i7Bz0vESpZB/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center">
                    <a href="https://web.njit.edu/~ym329/dlg_book/chapter3.html" target="_blank"><b>Chapter-3: Foundation of Deep Learning from the book DLG</b></a>
                </td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">26-08-22</td>
                <td align="center"><b>Graph Embedding: Concurrence Preserving Methods (Introduction)</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/187VFaHeD96fV2TwWuXXj5O3e5oY19aLq/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 5</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">01-09-22</td>
                <td align="center"><b>Graph Embedding: Structure Preserving Methods (DeepWalk and Node2vec)</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1BJ1ZCCw10O8B8Xl16Wvpro0Zm3mAvstU/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center">
                    <a href="https://youtu.be/eUeCXMpyJK4" target="_blank"><b>Tutorial-3</b></a>
                </td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">02-09-22</td>
                <td align="center"><b>Graph Embedding: Structure Preserving Methods (Struc2vec)</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1peOm0IsaBS0azgDXYiMMqJw_-0Q5hyo1/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 6</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">08-09-22</td>
                <td align="center"><b> Heterogeneous Network Embedding & metapath2vec</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1mzq9Zlw_xqsXjbVWTITsMkeu2Btx1jJ2/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">09-09-22</td>
                <td align="center"><b>Graph Neural Network, Deep Graph representation: Generalized Framework</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1sJRS_rTFoPWtYmo7UWEVC2Ka2vfL72hy/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 7</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">15-09-22</td>
                <td align="center"><b>Neural Networks in detail: Graph Convolution Neural Network</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1_TOyOwPDERu4nETyNfXGcuwpzjgJDytD/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">16-09-22</td>
                <td align="center"><b>GNN: GraphSAGE</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1b0tkXgtAK2RZmcRT8UYJY_1GzukcETCI/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 8 & Week 9</th>
        </tr>

            <tr bgcolor="#da7b93">
                <td align="center">22-09-22
                    <br>
                    to
                    <br>
                    30-09-22
                </td>
                <td align="center"><b>Mid Semester Examination</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 10</th>
        </tr>

            <tr bgcolor="#da7b93">
                <td align="center">06-10-22</td>
                <td align="center"><b>Holiday</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">07-10-22</td>
                <td align="center"><b>Knowledge Graph Embedding</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><b>Will be Rescheduled</b></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 11</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">13-10-22</td>
                <td align="center"><b>Graph Attention Networks (GAT), Edge Conditioned Convolution (ECC)</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1DepOYqoW1YdHFC4gQlvxKlhSDWiJBG00/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center">
                    <a href="https://youtu.be/hB4YQqzzh3I" target="_blank"><b>Tutorial-4</b></a>
                </td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">14-10-22</td>
                <td align="center"><b>Graph Pooling: Flat and Hierarchical, Downsampling, DiffPool, EigenPool</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1N0hrXy7FzNATC5uAoQzx0uwy0cTew7lj/view?usp=sharing" traget = "_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 12</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">20-10-22</td>
                <td align="center"><b>Heterogeneous Graph Representation Learning, Multi-Dimensional Graph Neural Networks</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1g0_ncnsdzwudcMK1w0a-ZqSzUA1hn9KD/view?usp=sharing" traget = "_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">21-10-22</td>
                <td align="center"><b>Signed Graph Neural Networks</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1C_MKPelIKXR5xqoBpGtgExRy_bTpscOe/view?usp=sharing" traget = "_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 13</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">27-10-22</td>
                <td align="center"><b>Knowledge Graph Embedding, Translational Distance Models, Semantic Matching Models</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1ybXcXJvAnoXNexkSzPFK96S7sK_tGQqB/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">28-10-22</td>
                <td align="center"><b>Reasoning over Knowledge Graphs</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1ur5geVns3vag7q2Zvu3ogtjI2wp1Uc9K/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 14</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">03-11-22</td>
                <td align="center"><b>Data Mining Applications</b></td>
                <td align="center">
                    <a href="https://drive.google.com/file/d/1z0-PKVL7DZ0FyDmBN6l36hpitcUdRfWy/view?usp=sharing" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
                          
        </tbody>
    </table>
</div>
