---
layout: default
---

<header class="post-header">
    <h1 class="post-title" style="color: #ee4c7c;"><b>Schedule</b></h1>
</header>

{{ content }}

<div class="table table-striped table-bordered" id="schedule" style="margin-top: 20px">
    <br>
    <table class="table" >
        <thead>
            <tr class="active">
                <th width =10% scope="col" ><b>Date</b></th>
	            <th width =40% scope="col" ><b>Title</b></th>
	            <th width =15% scope="col" ><b>Slides</b></th>	 
	            <th width =10% scope="col" ><b>Video</b></th>
	            <th width =30% scope="col" ><b>Extra Reading</b></th>
            </tr>
        </thead>
        <tbody>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 1</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">11-01-23</td>
                <td align="center"><b>Course Logistics + Introduction to Semantic Web Technology</b></td>
                <td align="center">
                    <a href="https://tinyurl.com/mw6rd82p" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/5n7f6yed" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center"><a href="https://tinyurl.com/dswjv3de" target="_blank"><b>[Video]</b></a></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">12-01-23</td>
                <td align="center"><b>Web of Data</b></td>
                <td align="center"> 
                    <a href="https://tinyurl.com/5n8u4tyt" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/mshntm6h" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/mu4mh6vp" target="_blank"><b>[Video - I]</b></a>
                    <a href="https://tinyurl.com/bdfrhp63" target="_blank"><b>[Video - II]</b></a>
                </td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">13-01-23</td>
                <td align="center"><b>SW Technology Stack (The Layer Cake)</b></td>
                <td align="center">
                    <a href="https://tinyurl.com/3mfkrmvj" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/8w9vrjv9" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/4e753csz" target="_blank"><b>[Video - I]</b></a>
                    <a href="https://tinyurl.com/mryj66bs" target="_blank"><b>[Video - II]</b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/7uddwv5j" target="_blank"><b>SW Concept Map [PDF]</b></a><br>
                    <a href="https://tinyurl.com/ymwacxbf" target="_blank"><b>SW Concept Map [Video]</b></a>
                </td>
            </tr>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 2</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">18-01-23</td>
                <td align="center"><b>RDF + RDFS</b></td>
                <td align="center">
                    <a href="https://tinyurl.com/y92vkbdj" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/23kspys2" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center">
                    <a href="https://www.youtube.com/watch?v=Kj7qJQT31Wc" target="_blank"><b>RDF-I</b></a>
                    <a href="https://www.youtube.com/watch?v=E_fLnyPj2Y8" target="_blank"><b>RDF-II</b></a>
                </td>
                <td align="center">
                    <a href=" " target="_blank"><b> </b></a>
                </td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">19-01-23</td>
                <td align="center"><b> RDF + RDFS </b></td>
                <td align="center">
                    <a href=" " target="_blank"><b></b></a>
                </td>
                <td align="center">                    
                </td>
                <td align="center">
                    <a href=" " target="_blank"><b> </b></a>
                </td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">20-01-23</td>
                <td align="center"><b> Elements of Logic - Part 1</b></td>
                <td align="center">
                    <a href="https://tinyurl.com/mr4e2jub" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/2p8r4v55" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/y4jbf4ke" target="_blank"><b>[Video]</b></a>
                </td>
                <td align="center">
                    <a href=" " target="_blank"><b> </b></a>
                </td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 3</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">25-01-23</td>
                <td align="center"><b> RDF and Logic </b></td>
                <td align="center">
                    <a href="https://tinyurl.com/2p8nk735" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/5n8sfvdm" target="_blank"><b>[PDF]</b></a>                    
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/ykttbnx4" target="_blank"><b>[Video 1]</b></a>
                    <a href="https://tinyurl.com/2p9y5rmm" target="_blank"><b>[Video 2]</b></a>                    
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/yckb9pvc" target="_blank"><b>Hands-on - RDF Data [Python]</b></a>
                </td>
            </tr>
            <tr bgcolor="#ff9999">
                <td align="center">26-01-23</td>
                <td align="center"><b> REPUBLIC DAY (HOLIDAY) </b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">27-01-23</td>
                <td align="center"><b> SPRING FEST </b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 4</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">01-02-23</td>
                <td align="center"><b> RDF KB Querying - SPARQL </b></td>
                <td align="center">
                    <a href="https://tinyurl.com/54s57m4a" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/5drbmwv7" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/2p9abcz7" target="_blank"><b>[SPARQL Video - 1]</b></a><br>
                    <a href="https://tinyurl.com/mrb2emks" target="_blank"><b>[SPARQL Video - 2]</b></a>  
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/4xh6a4y2" target="_blank"><b>SPARQL - Concept Map</b></a>
                </td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">02-02-23</td>
                <td align="center"><b> RDF KB Querying - SPARQL </b></td>
                <td align="center">
                    <a href=" " target="_blank"><b></b></a>
                </td>
                <td align="center">                    
                    <a href="https://tinyurl.com/ysvn9kr7" target="_blank"><b>[SPARQL Video - 3]</b></a>

                </td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">03-02-23</td>
                <td align="center"><b> RDF KB Querying - SPARQL </b></td>
                <td align="center">
                    <a href=" " target="_blank"><b></b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/ysvn9kr7" target="_blank"><b>[SPARQL Video - 4]</b></a><br>
                    <a href="https://tinyurl.com/4fk2wcxc" target="_blank"><b>[SPARQL Video - 5]</b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/3fdaxawz" target="_blank"><b>Winidata, DbPedia Query - Python</b></a>
                </td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 5</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">08-02-23</td>
                <td align="center"><b> Introduction to Ontology</b></td>
                <td align="center">
                    <a href="https://tinyurl.com/4benzez5" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/4jxs5hnp" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center">
                    <a href="https://tinyurl.com/2p83cy4w" target="_blank"><b>[OWL Video - 1]</b></a>
                </td>
                <td align="center">

                </td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">09-02-23</td>
                <td align="center"><b> Web Ontology Language (OWL) </b></td>
                <td align="center"><b></b></td>
                <td align="center">
                    <a href="https://tinyurl.com/5p759m68" target="_blank"><b>[OWL Video - 2]</b></a>
                </td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">10-02-23</td>
                <td align="center"><b> Web Ontology Language (OWL) - Tutorial </b></td>
                <td align="center">
                    <a href="https://tinyurl.com/2dkxn8c5" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/yckjju9s" target="_blank"><b>[PDF]</b></a>
                </td>
                <td align="center">
                    <a href="https://www.youtube.com/watch?v=Zp9MAV_YehY" target="_blank"><b>[OWL Tutorial Video - 1]</b></a><br>
                    <a href="https://www.youtube.com/watch?v=0uKRfavfysg" target="_blank"><b>[OWL Tutorial Video - 2]</b></a><br>
                    <a href="https://www.youtube.com/watch?v=JfRd1lgWrlw" target="_blank"><b>[OWL Tutorial Video - 3]</b></a>
                </td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 6 and Week 7 </th>
        </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">15-02-23
                <br>
                to
                <br>
                24-02-23
            </td>
            <td align="center"><b>Mid Semester Examination</b></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
                    

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 8</th>
        </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">01-03-22</td>
            <td align="center"><b> SPARQL Algebra </b></td>
            <td align="center">
		    <a href="https://tinyurl.com/3zbtswz3" target="_blank"><b>[PDF]</b></a>
	    </td>
            <td align="center">
		    <a href="https://www.youtube.com/watch?v=IytUwdBqUqo" target="_blank"><b>SPARQL Algebra - Video 1</b></a><br>
		    <a href="https://www.youtube.com/watch?v=QrzYdNWC2_Y" target="_blank"><b>SPARQL Algebra - Video 2</b></a><br>
	    </td>
            <td align="center"></td>
        </tr>
        <tr bgcolor="#ECEFF1">
            <td align="center">02-03-22</td>
            <td align="center"><b> SPARQL Algebra </b></td>
            <td align="center"><b> </b></td>
            <td align="center">
		    <a href="https://www.youtube.com/watch?v=2tItNIEZMfo" target="_blank"><b>SPARQL Algebra - Video 1</b></a>
	    </td>
            <td align="center"></td>
        </tr>
        <tr bgcolor="#ECEFF1">
            <td align="center">03-03-22</td>
            <td align="center"><b> Elements of Logic - Part 2 </b></td>
            <td align="center">
		    <a href="https://tinyurl.com/5xh3prwj" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/3ejwywff" target="_blank"><b>[PDF]</b></a>
	    </td>
            <td align="center">
		    <a href="https://www.youtube.com/watch?v=aWkVFlAY00c" target="_blank"><b>FOL - Video 1</b></a><br>
		    <a href="https://www.youtube.com/watch?v=mrr8GNvZ4DY" target="_blank"><b>FOL - Video 2</b></a><br>
	    </td>
            <td align="center"></td>
        </tr>

            
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 9</th>
        </tr>

        <tr bgcolor="#da7b93">
            <td align="center">08-03-23</td>
            <td align="center"><b> HOLIDAY </b></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">09-03-23</td>
            <td align="center"><b>Description Logic and Semantics</b></td>
		
            <td align="center">
		    <a href="https://tinyurl.com/2a2ykt8s" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/525vvcp7" target="_blank"><b>[PDF]</b></a><br>
		    
		    <a href="https://tinyurl.com/mktsjyfv" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/3t2xr2ju" target="_blank"><b>[PDF]</b></a>
	    </td>
	    
            <td align="center">
		    <a href="https://www.youtube.com/watch?v=71Ava-zuC-U" target="_blank"><b>DL Semantics - Video 1</b></a><br>
		    <a href="https://www.youtube.com/watch?v=2RCBhtOB3Bs" target="_blank"><b>DL Semantics - Video 2</b></a>
	    </td>
            <td align="center"></td>
        </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">10-03-23</td>
            <td align="center"><b> Description Logic Semantics - FOL </b></td>
            <td align="center">
		    <a href="https://tinyurl.com/2n2nt9y8" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/3k8wyxvy" target="_blank"><b>[PDF]</b></a>
	    </td>
            <td align="center">
	    </td>
            <td align="center"></td>
        </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 10</th>
        </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">15-03-23</td>
            <td align="center"><b> Description Logic Family - 1 </b></td>
            <td align="center">
		    <a href="https://tinyurl.com/bdfw53at" target="_blank"><b>[PPTX]</b></a>
                    <a href="https://tinyurl.com/y5tesh6p" target="_blank"><b>[PDF]</b></a>
	    </td>
		
            <td align="center">
		<a href="https://www.youtube.com/watch?v=5bGbi9DOpik" target="_blank"><b>DL Semantics - Video 3</b></a><br>    
	    </td>
            <td align="center"></td>
        </tr>
        <tr bgcolor="#ECEFF1">
            <td align="center">16-03-23</td>
            <td align="center"><b> Description Logic Family - 2 </b></td>
            <td align="center">
		 <a href="https://tinyurl.com/53w59h2v" target="_blank"><b>[PPTX]</b></a>
                 <a href="https://tinyurl.com/3df5uvuw" target="_blank"><b>[PDF]</b></a><br>   
	    </td>
            <td align="center">
		  <a href="https://www.youtube.com/watch?v=4_UQoXmMzU0" target="_blank"><b>DL Semantics - Video 4</b></a><br>
		  <a href="https://www.youtube.com/watch?v=Bdl9Yd6Mgwg" target="_blank"><b>DL Semantics - Video 5</b></a>
	    </td>
            <td align="center"><b> </b></td>
        </tr>
        <tr bgcolor="#ECEFF1">
            <td align="center">17-03-23</td>
            <td align="center"><b> CLASS TEST 1: OWL Semantics & Description Logic </b></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"><b> </b></td>
        </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 11</th>
        </tr>
https://www.youtube.com/watch?v=sSbGZJoDAas
        <tr bgcolor="#ECEFF1">
            <td align="center">22-03-23</td>
            <td align="center"><b> Description Logic Reasoning - Generic </b></td>
            <td align="center">
		    <a href="https://tinyurl.com/dvrznukn" target="_blank"><b>TBox reasoning</b></a>                 
	    </td>
            <td align="center">
		    <a href="https://www.youtube.com/watch?v=4_UQoXmMzU0" target="_blank"><b>DL Reasoning - 1</b></a><br>
	    </td>
            <td align="center"></td>
        </tr>
        <tr bgcolor="#ECEFF1">
            <td align="center">23-03-23</td>
            <td align="center"><b> OWL Semantics & Description Logic </b></td>
            <td align="center">
                <a href="https://tinyurl.com/ytdxvpwj" target="_blank"><b>ABox-Reasoning</b></a>
            </td>
            <td align="center">
		<a href="https://www.youtube.com/watch?v=5_CXG6LktyE" target="_blank"><b>DL Reasoning - 2</b></a><br>
		<a href="https://www.youtube.com/watch?v=w1tXFyrt7ok" target="_blank"><b>DL Reasoning - 3</b></a>
	   </td>
            <td align="center"></td>
		
        </tr>
        <tr bgcolor="#ECEFF1">
            <td align="center">24-03-23</td>
            <td align="center"><b> Protege Hands-on </b></td>
            <td align="center"><b> </b></td>
            <td align="center">
		<a href="https://www.youtube.com/watch?v=eqs_hIOchVs" target="_blank"><b>Protege-1</b></a><br>
		<a href="https://www.youtube.com/watch?v=DJ2dYpjd-qc" target="_blank"><b>Protege-2</b></a><br>		    
		<a href="https://www.youtube.com/watch?v=Bfhk9vlUddY" target="_blank"><b>Protege-3</b></a><br>
		<a href="https://www.youtube.com/watch?v=SJeoa7YkpLw" target="_blank"><b>Protege-4</b></a>
	    </td>
            <td align="center"></td>
        </tr>

    <tr bgcolor="#CCCCFF">
            <th colspan=5 align="center" style="vertical-align:middle;">Week 12</th>
    </tr>

    <tr bgcolor="#ECEFF1">
    <td align="center">29-03-23</td>
    <td align="center"><b> Description Logic Tutorial Problems </b></td>
    <td align="center"><b> </b></td>
    <td align="center"></td>
    <td align="center"></td>
    </tr>
    <tr bgcolor="#ECEFF1">
    <td align="center">30-03-23</td>
    <td align="center"><b> Reasoning with Description Logic </b></td>
    <td align="center"><b> </b>  </td>
    <td align="center"></td>
    <td align="center"></td>
    </tr>
    <tr bgcolor="#ECEFF1">
    <td align="center">31-03-23</td>
    <td align="center"><b> Reasoning with Description Logic </b></td>
    <td align="center"><b> </b>  </td>
    <td align="center"></td>
    <td align="center"></td>
    </tr>

    <tr bgcolor="#CCCCFF">
        <th colspan=5 align="center" style="vertical-align:middle;">Week 13</th>
    </tr>

    <tr bgcolor="#ECEFF1">
        <td align="center">05-04-23</td>
        <td align="center"><b> Reasoning with Description Logic</b></td>
        <td align="center">
            <a href=" " target="_blank"><b> </b></a>
        </td>
        <td align="center"></td>
        <td align="center"></td>
    </tr>
    <tr bgcolor="#ECEFF1">
        <td align="center">06-04-23</td>
        <td align="center"><b>Reasoning with Description Logic </b></td>
        <td align="center">
            <a href=" " target="_blank"><b> </b></a>
        </td>
        <td align="center"></td>
        <td align="center"></td>
    </tr>

    <tr bgcolor="#ECEFF1">
        <td align="center">07-04-23</td>
        <td align="center"><b> Reasoning with Description Logic </b></td>
        <td align="center">
            <a href=" " target="_blank"><b> </b></a>
        </td>
        <td align="center"></td>
        <td align="center"></td>
    </tr>

    <tr bgcolor="#CCCCFF">
            <th colspan=5 align="center" style="vertical-align:middle;">Week 14</th>
    </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">12-04-23</td>
            <td align="center"><b> Semantic Web Rule Language </b></td>
            <td align="center">
                <a href=" " target="_blank"><b> </b></a>
            </td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">13-04-23</td>
            <td align="center"><b> Semantic Web Rule Language </b></td>
            <td align="center">
                <a href=" " target="_blank"><b> </b></a>
            </td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>

        <tr bgcolor="#ECEFF1">
            <td align="center">14-04-23</td>
            <td align="center"><b> Course Review and Colsure </b></td>
            <td align="center">
                <a href=" " target="_blank"><b> </b></a>
            </td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>                                  
        </tbody>
    </table>
</div>
